/*
Theme Name: Andrew Squires 2014
Author: Joel Kriteman - Carciofino
Author URI: http://www.carciofino.com
Version: 1.0
*/

body {
  font-family: "futura-pt", Arial, Verdana, Helvetica, sans-serif;
  font-size:15px;
  padding:0;
  padding: 0;
  margin: 0;
  background-color: #414141;
  color: #ded3b1;
}

html {
  overflow-y: scroll;
}

#header {
  background-color: #e9c620;
}

#contentouter {
  background-color: #e6e6e6;
}

#headercontent,
#content { 
  margin : 0 auto;
  max-width: 928px;
}

#content {
  padding: 26px 2.7%;
}

#content img {
  border: 5px solid #ffffff;
  vertical-align: bottom;
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

h4 {
  font-size: 18px;
  font-weight: normal;
  margin:0;
}

hr {
  margin: 6px 0 15px 0;
  color: #999999;
  height: 2px;
  background-color: #999999;
  border: none;
}

@media screen and (max-width:980px) {

  #content {
    padding: 2.05% 2.7%;
  }
}

@media screen and (max-width:480px) {
  h4 {
    font-size: 22px;
  }
}

@media screen and (max-width:360px) {
  h4 {
    font-size: 18px;
  }
  
  body {
  font-size:13px;
  }
}

/*----------------- logo --------------------*/

#cameralogo {
  float: left;
  padding: 20px 0 0 39px;
  width: 136px;
}

#cameralogo img {
  height: 90px;
}


p#logo {
  text-align: center;
  padding: 30px 0;
  margin: 0;
}

p#logo img {
  width: 180px;
  height: auto;
  vertical-align: bottom;
}

p#logo a {
border: none;
}

@media screen and (max-width:410px) {
  
  p#logo {
  padding-top: 27px;
  }

p#logo img {
    width: 40%;
    vertical-align: bottom;
  }
}
/*-------------- end logo --------------------*/


/*-------------- header socials --------------------*/

#headerright {
  margin-top: 50px;
  width: 175px;
}

#facehead a img {
  background: url(images/facebook_top.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#twitterhead a img {
  background: url(images/twitter_top.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#pinteresthead a img {
  background: url(images/pinterest_top.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#instagramhead a img {
  background: url(images/instagram_top.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

/*----------- end header socials --------------------*/

/*----------- header responsive --------------------*/

@media screen and (max-width:800px) {
  #header {
    height: 8.8em;
  }
  
  #headercontent {
    height: 30%;
  }
  
  #headerright ul {
    display: none !important;
  }
  
  #cameralogo {
    width: 73px;
    padding: 2.1551724% 0 0 4.31%;
  }
  
  #headerright {
    width: 91px;
  }
}

@media screen and (max-width:600px) {
  #header {
    height: 8em;
  }
}

@media screen and (max-width:480px) {
  #header {
    height: 7.6em;
  }
  
  #headercontent {
    height: 30%;
  }
  
  #headerright ul {
    display: none !important;
  }
  
  #cameralogo {
    padding-top: 5%;
    padding-left: 5%;
  }
  
  #cameralogo img {
    height: 70px;
  }
  
}



/*------- end header responsive ------------------*/

/*------------------navigation------------------*/


@media screen and (min-width:801px) {

  ul#menu-main-menu {
    list-style-type: none;
    text-align: center;
    font-size: 13px;
    letter-spacing: 1px;
    background-color: #414141;
    height: 30px;
    padding-top: 10px;
  }

  ul#menu-main-menu li {
    display: inline-block;
    list-style: none;
    margin: 2px 5px; /* 20px / 980px */
  }
  

  /* IE7 Hack - http://www.brunildo.org/test/InlineBlockLayout.html */
  ul#menu-main-menu li { 
    *display: inline;
    zoom: 1;
  }

  ul#menu-main-menu li a {
    text-decoration: none;
    color: #e9c620;
    text-transform: uppercase;
    padding: 12px 12px 11px 12px;
  }

  ul#menu-main-menu li a:hover,
  ul#menu-main-menu li.current-menu-item a {
    color: #ded3b1;
  }
  
}


/*---------------end navigation----------------*/



/*--------------------home--------------------*/


#homeslider {
  width: 602px;
  border: 5px solid #ffffff;
  float: left;	
}

.homeimage img {
  width: 286px;
  height: 175px;
}

.homeimage a:hover {
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

#homeslider .homeimage img {
  border: none;
  width: 100%;
  height: 380px;
}

#homeweddings {
  width: 296px;
  float: right;
}

#homeabout {
  margin: 20px 0;
}

.homeimage { 
   position: relative; 
   width: 296px; /* for IE 6 */
}

#homeslider .homeimage { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

.homeimage#homeimagetop { 
   margin-bottom: 20px;
}

#homeabout .homeimage {
  float: left;
  margin-right: 2.15517241%;
}

#homeabout .homeimage#homelast {
  margin-right: 0;
}

#homeweddings h4,
#homeabout h4,
#homeslider h4 { 
  position: absolute;
  margin: 5px;
  bottom: 0;
  left: 0; 
  width: 286px;
  background-color: #357775;
  text-align: center;
  color: #ded3b1;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  min-height: 16px;
  padding: 12px 0;
  letter-spacing: 1px;
}

.soliloquy-container .soliloquy-caption .soliloquy-caption-inside {
  background-color: #357775 !important;
  color: #ded3b1 !important;
  text-transform: uppercase;
  font-size: 14px !important;
  font-weight: normal;
  min-height: 16px;
  padding: 13px 0 12px 0 !important;
  letter-spacing: 1px;
  text-shadow: none !important;
}

.soliloquy-container {
	margin-bottom: 0 !important;
}

.soliloquy-container.soliloquy-slide-horizontal .soliloquy-direction-nav li .soliloquy-next, 
.soliloquy-container.soliloquy-thumbnails-container .soliloquy-thumbnails .soliloquy-direction-nav li .soliloquy-next, 
.soliloquy-container .soliloquy-direction-nav li .soliloquy-next,
.soliloquy-theme-classic .soliloquy-next {
  background: url(images/right_arrow.png) !important;
  height: 26px !important;
  width: 13px !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  top:49% !important;
}

.soliloquy-container.soliloquy-slide-horizontal .soliloquy-direction-nav li .soliloquy-prev, 
.soliloquy-container.soliloquy-thumbnails-container .soliloquy-thumbnails .soliloquy-direction-nav li .soliloquy-prev, 
.soliloquy-container .soliloquy-direction-nav li .soliloquy-prev,
.soliloquy-theme-classic .soliloquy-prev {
  background: url(images/left_arrow.png) !important;
  height: 26px !important;
  width: 13px !important;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  top:49% !important;
}


/*------------------end home-----------------*/

/*----------- home responsive --------------------*/

@media screen and (max-width:980px) {
  #homeslider {
    width: 64.87069%;
  }
  
  #homeabout {
    margin: 2.15517241% 0;
  }
   
  .homeimage {
    width: 100%;
    height: 100%;
  }
  
  .homeimage img,
  #homeweddings h4,
  #homeabout h4 {
    width: 96.621622%;
  }
  
  .homeimage img,
  #homeslider .homeimage img {
    height: auto;
  }
  
  #homeslider .homeimage img {
    vertical-align: top;
  }
  
  #homeweddings,
  #homeabout .homeimage {
    width: 31.89655%
  }
  
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  .soliloquy-container .soliloquy-caption .soliloquy-caption-inside {
    font-size: 1.0em !important;
  }
  
}

@media screen and (max-width:800px) {
  #content {
    padding: 4%;
  }

  #homeslider {
    width: 98.4%;
  }
  
  #homeslider .homeimage img {
    width: 100%;
  }
  
  #homeweddings {
    width: 100%;
    margin-top: 3%;
  }
  
  #homeweddings .homeimage,
  #homeabout .homeimage {
    width: 49%;
    float: right;
    margin-right: 0;
  }
  
  #homeweddings .homeimage#homeimagetop,
  #homeabout .homeimage#homeaboutfirst {
    float: left;
    margin-bottom: 0;
  }
  
  #homelast {
    display: none;
  }
  
  .soliloquy-container .soliloquy-direction-nav {
    display: none !important;
  }
  
  #homeweddings h4,
  #homeabout h4,
  .soliloquy-container .soliloquy-caption .soliloquy-caption-inside {
    font-size: 0.9em !important;
  }
  
}

@media screen and (max-width:375px) {
  #content {
    padding: 5% 6.5% 5% 5%;
    }

#homeweddings .homeimage#homeimagetop,
  #homeabout .homeimage#homeaboutfirst {
    float: none;
    margin-bottom: 4%;
  }
  
  #homeweddings {
    margin-top: 4%;
  }
  
  .homeimage img, #homeweddings h4, #homeabout h4 {
    width: 98.4%;
  }
  
  #homeweddings .homeimage, #homeabout .homeimage {
    width: 100%;
  }
  
  #homelast {
    margin-top: 4%;
    display: inline;
  }
  
  #homeabout {
    margin: 4% 0;
  }
}

/*------- end home responsive ------------------*/



/*---------------- weddings -----------------*/


#content.weddingscat,
#content.weddinggallery {
  padding: 26px 16px 23px 16px;
  max-width: 948px;
}

.weddingscat ul {
list-style-type: none;
}

.weddingscat li {
  float: left;
  margin: 0 10px 20px 10px;
  width: 296px;
  position: relative; 
}

.weddinggallery img,
.weddingscat li img {
  width: 286px;
  height: 175px;
}

.ngg-gallery-thumbnail-box {
  margin-right: 0 !important;
}

.weddingscat h4 { 
   position: absolute;
   margin: 5px;
   bottom: 75px;
   left: 0; 
   width: 286px;
  background-color: #357775;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: 1px;
  min-height: 15px;
  padding: 5px 0;
  filter:alpha(opacity=75);
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}

.weddingscat li a,
.homeimage a {
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.weddingscat li a:hover {
  width: 286px;
  height: 175px;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.weddingscat hr,
.weddinggallery hr {
  margin: 6px 10px 15px 10px;
  color: #999999;
  height: 2px;
  background-color: #999999;
  border: none;
}

.weddingscat a#backtotop,
.weddinggallery a#backtotop {
  margin-left: 10px;
  float: none;
}

a#backtotop,
#sharethelove {
  text-decoration: none;
  color: #414141;
  float: left;
  margin-bottom: 15px;
}

a#backtotop:hover,
#nav-previous a:hover {
  color: #357775;;
}

.weddinggallery p {
  display: none;
}

.aboutme a#backtotop {
  float: none;
}

/*----------- end weddings  -----------------*/

/*--------- weddings responsive ------------- */

@media screen and (max-width:980px) {

  #content.weddingscat,
  #content.weddinggallery {
    padding-right: 3.2%;
  }

  .weddingscat li {
    margin: 0 1.4% 2% 1.4%;
    width: 30.5333333%;
  }
  
  .weddingscat li img {
    width: 100%;
    height: auto;
  }
  
  .weddingscat h4 {
    width: 100%;
    bottom: 40%;
  }
  
  .weddinggallery .ngg-gallery-thumbnail-box {
    width: 30.7% !important;
    padding: 0 1.3% 1.3% 1.3% !important;
  }
  
  .weddinggallery .ngg-gallery-thumbnail-box img {
    width: 100%;
    height: auto;
    margin: 0;
    float: none;
  }
}

@media screen and (max-width:800px) {
  .weddingscat li {
    margin: 0 2% 2% 2%;
    width: 46%;
  }
  
  .weddinggallery .ngg-gallery-thumbnail-box {
    padding: 0 2% 2% 2% !important;
    width: 46% !important;
  }
}

@media screen and (max-width:375px) {
  #content.weddingscat,
  #content.weddinggallery {
  padding-top: 5%;
  padding-left: 5%;
}

.weddingscat li {
    margin: 0 0 3% 0;
    width: 95%;
  }
  
  .weddinggallery .ngg-gallery-thumbnail-box {
    padding: 0 0 3% 0 !important;
    width: 95% !important;
  }
  
  .weddingscat hr,
  .weddinggallery hr {
    margin: 6px 5px 15px 0; 
  }
}

/*----- end weddings responsive ------------- */

/*---------- your experience -----------------*/

.experiencetext {
  float: left;
  width: 414px;
  background-color: #357775;
  padding: 20px;
  margin-right: 20px;
  min-height: 510px;
  font-size: 15px;
}

.experiencetext a,
.pricestext a {
  color: #e9c620;
  text-decoration: none;
}

.experiencetext a:hover,
.pricestext a:hover {
  color: #ded3b1;
}

img#experienceimage2 {
  width: 444px;
  height: 255px;
  margin-top: 20px;
}

.experiencetext#tablet {
  display: none;    
}

/*------- end your experience -----------------*/


/*------------ prices -------------------------*/

.pricestext {
  float: left;
  width: 414px;
  background-color: #357775;
  padding: 20px;
  margin-right: 20px;
  min-height: 795px;
  font-size: 15px;
}


img#pricesimage2,
img#pricesimage3 {
  width: 444px;
  height: 255px;
  margin-top: 20px;
}

.pricestext ul {
  padding-left: 15px;
}

.pricestext li {
  margin-bottom: 20px;
}

.pricestext#tablet,
#mobile {
  display: none;    
}

/*---------- end prices ------------------------*/

/*--------- prices/experience responsive ------------- */

@media screen and (max-width:980px) {
  
  .experiencetext,
  .pricestext {
    width: 44.6%;
    margin-right: 2.1551724%;
  }
  
  .experience img,
  .experience img#experienceimage2,
  .prices img,
  .prices img#pricesimage2,
  .prices img#pricesimage3 {
    width: 47%;
    height: auto;
  }
  
  .experience img {
    float: left;
  }
  
    .experience img#experienceimage2 {
    margin-top:  2.1551724%;
    height: auto;
    }

}

@media screen and (max-width:800px) {
  
  .experiencetext,
  .pricestext {
    width: 94.5%;
    min-height: 10%;
    padding: 2.8%;
  }
  
  .experience img,
  .prices img {
    margin-right:  0;
    width: 47.2%;
    height: auto;
  }
  
    .prices img#pricesimage2,
    .experience img#experienceimage2  {
      margin-top: 0;
    }
  
  .experience img#experienceimage2,
  .prices img#pricesimage2 {
    margin-right: 0;
    float: right;
    width: 47.2%
  }
  
  .prices img#pricesimage3 {
    width: 98.4%;
  }
  
  .experiencetext#tablet,
  .pricestext#tablet {
    display: inline;
    margin-top:  2.8%;
  }
  
  .experiencetext#desktop,
  .pricestext#desktop {
    display: none;
  }
}

@media screen and (max-width:480px) {
  .experience img,
  .prices img,
  .experience img,
  .experience img#experienceimage2,
  .prices img,
  .prices img#pricesimage2,
  .prices img#pricesimage3 {
    width: 98%;
    float: none;
  }
  
  .experiencetext, .pricestext {
    margin-right: 0;
    width: 91.2%;
    padding: 4.5%;
  }
  
  #wide,
  .pricestext#tablet {
    display: none;
  }
  
  #mobile {
    display: inline;
    margin: 5% 0;
  }
  
  #tablet.experiencetext, #tablet.pricestext,
  .experience img#experienceimage2 {
    margin-top: 5%;
  }
  
  img#pricesimage2, img#pricesimage3 {
    margin-top: 5%;
  }
}

@media screen and (max-width:360px) {
  .experiencetext, .pricestext {
    width: 87.5%;
    padding: 7%;
  }
}
/*------- end prices/experience responsive -------------*/


/*----------------- journal -----------------*/

h4 a {
	color: #ded3b1;
}

h4 a:hover {
	color: #E9C620;
}

#journalcatpage,
#content.testimonials,
#content.press {
  padding-top: 6px;
}

#content.journal {
  padding-bottom: 8px;
}

.journalblogitem {
  margin: 20px 0;
}

.journalcatimage {
  float: left;
  height: 390px;
}

.journalintro {
  float: right;
  width: 246px;
  background-color: #357775;
  padding: 20px;
  margin-left: 20px;
  min-height: 350px;
}

.journalsingleitem {
  padding-bottom: 5px;
  margin-top: 26px;
}

.journalsingleintro {
  background-color: #357775;
  padding: 20px;
  font-size: 15px;
  margin-bottom: 15px;
}

.journalsingleintro.subtext {
  padding-bottom: 0;
}

.journalsingleintro.subtext p {
  margin: 0;
  padding-bottom: 20px;
}

.journalcat hr,
.journal hr {
  margin: 0;
}

a.continuereading,
.journalsingleintro a {
  text-decoration: none;
  color: #e9c620;
}

a.continuereading:hover,
.journalsingleintro a:hover {
  color: #ded3b1;
}

.journalintro { 
   position: relative; 
   width: 256px; /* for IE 6 */
}

.journaldate { 
   position: absolute;
   bottom: 20px;
   font-size: 13px;
}

#blogfooter {
  margin-top: 15px;
}

#nav-previous a,
#pagelinks a {
  float: right;
  text-decoration: none;
  color: #414141;
}

#pagelinks a {
  float: none;
}

#pagelinks {
  text-align: center;
  color: #357775;
}

#pagelinks a:hover {
  color: #357775;
}

#pagelinks a.prev,
#pagelinks a.next {
  display: none;
}

.bodyimage img {
  vertical-align: bottom;
  margin-bottom: 15px;
}

img.leftimage,
img.rightimage {
  width: 444px;
}

img.leftimage {
  float: left;
  margin-right: 20px;
}

img.fullwidth {
  width: 918px;
}

#socialshare {
border-top: 2px solid #999999;
padding: 15px 0;
margin-bottom: 15px;
}

.mr_social_sharing a.linksalpha_link {
  display: none !important;
}

#shareicons {
  float: right;
}

.mr_social_sharing img {
  width: 31px;
}

.mr_social_sharing img {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.mr_social_sharing img:hover {
  filter:alpha(opacity=25);
  -moz-opacity:0.25;
  -khtml-opacity: 0.25;
  opacity: 0.25;
}

mr_social_sharing, 
span.mr_social_sharing, 
div.mr_social_sharing_top, 
span.mr_social_sharing_top {
  margin: 0 !important;
}

mr_social_sharing img, 
span.mr_social_sharing img, 
div.mr_social_sharing_top img, 
span.mr_social_sharing_top img {
  margin-left: 16px !important;
}

div.mr_social_sharing_wrapper {
  margin: 0 0 15px 0 !important;
}

#sharethelove {
  margin-top: 5px;
}

#relatedposts {
  background-color: #414141;
  padding: 20px;
  font-size: 15px;
  margin-top: 10px;
}

#relatedposts li {
list-style-type: none;
border-top: 1px solid #ded3b1;
margin-top: 10px;
padding-top: 10px;
}

#relatedposts li a {
  color: #ded3b1;
  text-decoration: none;
}

#relatedposts li a:hover {
  color: #357775;
}

#commentspanel {
  color: #ded3b1;
  background-color: #357775;
  margin-bottom: 20px;
  padding: 0 20px;
}

#commentspanel h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ded3b1;
  font-weight: normal;
}

#commentspanel input,
#commentspanel textarea {
  background-color: #bad2d1;
  float: right;
  width: 612px;
  font-family: "futura-pt", Arial, Verdana, Helvetica, sans-serif;
  font-size: 15px;
  border: none;
  padding: 2px;
}

small {
  font-size: 15px;
}

#commentspanel #submit {
  margin: 20px 0;
  width: 616px;
  background-color: #414141;
  border: none;
  color: #ded3b1;
  padding: 6px 0;
}

#commentspanel #submit:hover {
  filter:alpha(opacity=75);
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  cursor: pointer;
}

.comment-author a,
.reply a {
  text-decoration: none;
  color: #ded3b1;
}

.comment-author a:hover,
.reply a:hover {
  color: #414141;
}

.reply {
  margin-bottom: 20px;
  color: #357775;
  font-size: 12px;
}

img.avatar {
  display: none;
}

.comment-meta a {
  float: right;
  margin-top: -20px;
  text-decoration: none;
  color: #ded3b1;
  font-size: 12px;
}

a.comment-edit-link {
  float: none;
}

.comment p {
  clear: both;
}

#commentspanel ol {
  padding-left: 0;
}

#commentspanel ol li {
  margin-bottom: 20px;
  border-bottom: 1px solid #ded3b1;
  list-style-position: inside;
}

#commentspanel ol li li {
  border-bottom: none;
}

.comment ul {
  padding-left: 20px;
}

#commentform a {
  color: #e9c620;
  text-decoration: none;
}

#commentform a:hover {
  color: #ded3b1;
}

.widgets {
  padding-bottom: 6px;
}

.widgets > div {
  width: 296px;
  float: left;
  margin-right: 20px;
  background-color: #414141 !important;
  min-height: 35px;
}

.widgets .lastcolumn {
  margin-right: 0;
  padding-top: 7px;
  padding-bottom: 3px;
  min-height: 25px;
}

.widgets h3 {
  display: none;
}

#content img#rss {
  border: none;
}

.widgets .lastcolumn a {
  display: block;
  background-image: url(images/subscribe_feed.png);
  background-color: #414141;
  background-position: right;
  background-repeat: no-repeat;
  color: #ded3b1;
  text-decoration: none;
  padding-left: 10px;
  background-size: 7%;
  width: 276px;
}

.widget {
    position: relative;
    height: 20px;
    background-image: url(images/dropdown_arrow.png);
    background-position: right;
    background-repeat: no-repeat;
    top:5px;
    right: 5px;
}

.widget ul:hover {
  cursor: pointer;
}

.widget ul {
    position: absolute;
    list-style-type: none;
}

.widget li {
  display: block;
  width: 276px;
  padding: 0 10px;
  margin: 0 5px;
  min-height: 25px;
  padding-bottom: 5px;
}

.widget ul > li:not(:first-child) {
    display: none;
    background-color: #414141;
    padding: 0;
    margin-left: 5px;
    padding: 0 10px;
}

.widget ul:hover > li:not(:first-child) {
    display: block;
   border-top: 1px solid #ded3b1;
   padding-top: 5px;
   padding-bottom: 5px;
}

.widget li a {
  text-decoration: none;
   color: #ded3b1;
   display: block;
   padding: 1px 0 0 0;
}

.widget li > .div a {
  text-decoration: none;
   color: #ded3b1;
   display: block;
   border-top: 1px solid #ded3b1;
}

.widget li a:hover {
   color: #e9c620;
}

.widget_extended-categories a {
  width: 286px;
}

#linksalpha_info_loader,
.journalsingleitem p {
  display: none;
}

.journalsingleitem .journalsingleintro p {
  display: block;
}

.journalcat a#backtotop,
.testimonials a#backtotop,
.press a#backtotop {
  margin-bottom: 0;
}

.journal .ngg-gallery-thumbnail img {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/*------------- end journal -----------------*/

/*-------- journal responsive -----------*/

@media screen and (min-width:980px) {
  .journal .ngg-gallery-thumbnail img {
    width: 918px;
    height: auto;
  }
}

@media screen and (max-width:980px) {
  
  .journalcatimage {
    width: 64.87069%;
    height: auto;
  }
  
  .journalcatimage img,
  .journal .ngg-gallery-thumbnail img {
    width: 100%;
    height: auto;
  }
  
  .journal .ngg-gallery-thumbnail img {
    margin-bottom: 15px;
  }
  
  .journalintro {
    width: 27.5%;
    float: right;
    margin-left: 0;
    padding-bottom: 6%;
    min-height: 314px;
  }
  
  .widgets > div {
    width: 31.89655%;
    margin-right: 2.155%;
  }
  
  .widget ul {
    width: 100%;
  }
  
  .widget li {
    width: 93.2%;
  }
  
  .widgets .lastcolumn a {
    padding-left: 5%;
    width: 90%;
  }
  
  .bodyimage img {
    width: 99%;
    height: auto;
  }

}

@media screen and (max-width:800px) {
  
  .soliloquy-container {
  	max-width: 100% !important;
  	max-height: auto !important;
  }
  
  .widgets {
    display: none;
  }
  
  #journalcatpage {
    padding-top: 1px;
  }
  
  .journalblogitem {
  margin: 0 0 3% 0;
  }
  
  .journalcat hr, .journal hr {
    margin-bottom: 3%;
  }
  
  .journalcatimage {
    width: 98.8%;
    height: auto;
  }
  
  .journalcatimage img {
    width: 100%;
    height: auto;
  }
  
  .journalintro {
    width: 94.7%;
    float: left;
    margin-left: 0;
    margin-top: 3%;
    padding-bottom: 6%;
    min-height: 314px;
  }
  
  .testimonialtext {
    width: 95.6%;
    min-height: 10%;
  }
  
  .testimonialimage#tablet {
    display: inline;
    margin-top:  2.1551724%;
    width: 98.6%;
    margin-right:  0;
    height: auto;
  }
  
  .testimonialimage#desktop {
    display: none;
  }
  
  .journalintro {
    min-height: 100px;
  }
  
  .widget li {
    width: 91.5%;
  }
  
  .bodyimage img,
  .journal .ngg-gallery-thumbnail img,
  .journal .nextgen_pro_blog_gallery img {
    width: 98.8%;
  }
  
  #commentspanel input,
  #commentspanel textarea {
    width: 64%;
  }

  #commentspanel #submit {
    width: 64.55%;
  }
}

@media screen and (max-width:768px) {
  .journalintro {
    padding-bottom: 9%;
    width: 94.3%;
  }
  
  .bodyimage img,
  .journal .ngg-gallery-thumbnail img,
  .journal .nextgen_pro_blog_gallery img {
    width: 98.61%;
  }
}

@media screen and (max-width:600px) {
  
  .journalintro {
    width: 93.3%;
  }
  
  .bodyimage img,
  .journal .ngg-gallery-thumbnail img,
  .journal .nextgen_pro_blog_gallery img {
    width: 98.2%;
  }
  
  #commentspanel #submit {
    width: 64.9%;
  }
}

@media screen and (max-width:480px) {
  #content.journal {
    padding: 1px 5% 5% 5%;
  }
  .journalintro {
    padding-bottom: 11%;
  }
  
  .journalcatimage {
    width: 96.8%;
    margin-bottom: 2%;
  }
  
  .journalintro {
    width: 90%;
  }
  
  .journalblogitem {
    margin-bottom: 4%;
    width: 98.8%;
  }
  
  .journal .bodyimage img,
  .journal .ngg-gallery-thumbnail img,
  .journal .nextgen_pro_blog_gallery img {
    width: 97.8%;
  }
  
  .journalcat hr, .journal hr {
    margin-right: 1%;
    margin-bottom: 4%;
  }
  
  #commentspanel input,
  #commentspanel textarea {
    width: 100%;
    float: none;
  }

  #commentspanel #submit {
    width: 102%;
  }
  
  .commentmetadata {
    display: none;
  }
  
}

@media screen and (max-width:375px) {
  
  .journalintro {
    padding-bottom: 15%;
  }
  
  .journalcatimage {
    width: 98.2%;
  }
  
  .journalintro {
    width: 87.7%;
  }
  
  .journalblogitem {
    margin-bottom: 4%;
  }
  
  .journalcat hr, .journal hr {
    margin-right: 0;
    margin-bottom: 4%;
  }
  
  .journal .bodyimage img,
  .journal .ngg-gallery-thumbnail img,
  .journal .nextgen_pro_blog_gallery img {
    width: 97%;
  }
  
}


/*-------- end journal responsive --------*/



/*------------ testimonials -----------------*/

.testimonialimage {
  float: left;
  margin-right: 20px;
}

.testimonialimage img {
	width: 286px;
	height: 175px;
}

.testimonialitem {
  margin: 20px 0;
}

.testimonialtext {
  float: right;
  width: 572px;
  background-color: #357775;
  padding: 20px 20px 0 20px;
  min-height: 165px;
}

.testimonialtext p {
  margin-top: 0;
  margin-bottom: 20px;
}

.testimonials hr,
.press hr {
  margin: 0;
}

.testimonialimage#tablet {
  display: none;
}


/*-------- end testimonials -----------------*/

/*-------- testimonials responsive -----------*/

@media screen and (max-width:980px) {
  
  .testimonialtext {
    width: 61.637931%;
    padding-bottom: 0;
    min-height: 30%;
  }
  
  .testimonialimage {
    width: 30%;
  }
  
  .testimonialimage img {
    width: 100%;
    height: auto;
  }

}

@media screen and (max-width:800px) {
  
  .testimonialtext {
    width: 94.1%;
    min-height: 10%;
  }
  
  .testimonialimage#tablet {
    display: inline;
    margin-top:  2.1551724%;
    width: 98.6%;
    margin-right:  0;
    height: auto;
  }
  
  .testimonialimage#desktop {
    display: none;
  }
}

@media screen and (max-width:600px) {
  
  .testimonialtext {
    width: 93%;
  }
}

@media screen and (max-width:480px) {
  
  #content.testimonials {
    padding: 5%;
  }
  
  .testimonialitem {
    margin: 5% 0;
    width: 98.2%;
  }
  
  .testimonialtext {
    float: none;
    width: 91.3%;
    padding-bottom: 1%;
  }
  
  .testimonialimage#tablet {
    margin-top:  5%;
    }
}

@media screen and (max-width:375px) {
  .testimonialtext {
    width: 87.8%;
  }
}

/*-------- end testimonials responsive --------*/

/*------------- about me --------------------*/

#content.aboutme,
#content.testimonials,
#content.press {
padding-bottom: 23px;
}

#content.aboutme img {
  border: none;
  width: 100%;
  height: auto;
}

.aboutblock {
  border: 5px solid #ffffff;
  margin-bottom: 20px;
}

.abouttext {
  background-color: #357775;
  text-align: center;
  padding: 20px;
}

.abouttext p {
margin: 10px 0 0 0;
}


/*---------- end about me --------------------*/

/*-------- about me responsive --------------------*/

@media screen and (max-width:980px) {

  .aboutblock {
    margin-bottom: 3%;
  }
}

/*-----end about me responsive --------------------*/

/*---------------- press --------------------*/

.pressitem {
  margin: 20px 0;
}

.presstext {
  background-color: #357775;
  padding: 20px;
  margin-bottom: 20px;
}

.presstext p {
  margin-top: 0;
  float: left;
}

.presstext a {
  text-decoration: none;
  color: #e9c620;
}

.visitsite a:hover,
.presstext a:hover {
  color: #ded3b1;
}

.pressdate {
  font-size: 13px;
}

/*------------ end press --------------------*/


/*---------- press responsive ---------------*/

@media screen and (max-width:980px) {
  .pressitem img {
    width: 99.02%;
    height: auto;
  }
}

@media screen and (max-width:800px) {
  .pressitem img {
    width: 98.7%;
  }
}

@media screen and (max-width:768px) {
  .pressitem img {
    width: 98.61%;
  }
}

@media screen and (max-width:600px) {
  .pressitem img {
    width: 98.2%;
  }
}

@media screen and (max-width:480px) {
  .pressitem img {
    width: 97.8%;
  }
}

@media screen and (max-width:375px) {
  .pressitem img {
    width: 97.1%;
  }
}

@media screen and (max-width:320px) {
  .pressitem img {
    width: 96.5%;
  }
}
/*------- end press responsive --------------*/

/*--------------- contact --------------------*/

input,
textarea, 
select { 
  -webkit-appearance: none; 
  border-radius: 0; 
  -webkit-border-radius:0;
}

#contactleft {
  float: left;
  width: 296px;
  margin-right: 20px;
}

#contactleft img {
	width: 286px;
	height: 175px;
}

#contacttext,
#contactform {
  background-color: #357775;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 145px;
}

#contactform {
  margin-bottom: 0;
  min-height: 350px;
  width: 572px;
  float: right;
}

#contacttext h4 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

#contacttext p {
  margin-bottom: 0;
}

.contactformleft input,
.contactformright input,
.contactfull input,
.contactfull,
.contactfull textarea {
  width: 266px;
  border: none;
  margin-bottom: 10px;
  min-height:21px;
  margin-top: 3px;
}

.contactformleft input,
.contactformright input,
.contactfull input,
.contactfull textarea {
  background-color: #bad2d1;
  color: #414141;
  font-family: "futura-pt", Arial, Verdana, Helvetica, sans-serif;
  font-size: 14px;
  padding: 0 5px;
}

.contactfull input,
.contactfull textarea {
  margin-bottom: 5px;
}

.contactfull input,
.contactfull,
.contactfull textarea {
  width: 562px;
}


.contactfull textarea {
  height: 90px;
}

.contactformleft {
  float: left;
  margin-right: 20px;
}

#contactsend {
  float: right;
}

#contactsend .wpcf7-submit {
    background-image: url("images/send_button.png");
    background-repeat: no-repeat;
    border: medium none;
    height: 35px;
    margin-left: 17px;
    text-align: left;
    text-decoration: none;
    width: 70px;
    background-size: 70px 35px;
    font-size: 0;
}

#contactsend .wpcf7-submit:hover {
  filter:alpha(opacity=75);
  -moz-opacity:0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  cursor: pointer;
}

#content img.ajax-loader {
  float: left;
  border: none;
}

span.wpcf7-not-valid-tip {
  color: #e9c620 !important;
  margin-bottom: 20px;
}

        
.dropdown dd,
.dropdown dt,
.dropdown ul {
  margin:0;
  padding:0;
}

.dropdown dt {
margin-top: 3px;
}

.dropdown dd {
  position:relative;
}

.dropdown a,
.dropdown a:visited {
  color:#414141;
  text-decoration:none;
  outline:none;
}

.dropdown a:hover {
  color:#5d4617;
}

.dropdown dt a:hover {
  color:#5d4617;
}

.dropdown dt a,
.wpcf7-form-control-wrap select {
  background:#bad2d1 url(images/dropdown_arrow.png) no-repeat scroll right center;
  display:block;
  width:100%;
  padding:0;
}

.dropdown dt a span,
.wpcf7-form-control-wrap span {
  cursor:pointer;
  display:block;
}

.dropdown dd ul {
  background:#bad2d1 none repeat scroll 0 0;
  color:#414141;
  display:none;
  left:0px;
  position:absolute;
  top:0;
  width:572px;
  list-style:none;
  z-index: 1000;
}

.dropdown span.value,
#originaldrop {
  display:none;
}

.dropdown dd ul li a {
  padding:5px;
  display:block;
}

.dropdown dd ul li a:hover {
  background-color:#ded3b1;
}

dl#target,
#sample p {
  display: none;
}

/* body select.select_box */ 
body select { 
	display: block;
	padding:0;
	max-width: 100%; 
	height: 20px;
	border: none;
	appearance: none; 
	/* this is must */ 
	-webkit-appearance: none; 
	-moz-appearance: none;
	font-family: "futura-pt", Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	outline: none;
} 

/* body select.select_box option */ 

body select option { 
	padding: 0; 
} 

/* for IE and Edge */ select::-ms-expand { 
	display: none; 
} select:disabled::-ms-expand { background: #f60; }

/* Read more at: https://www.proy.info/style-select-dropdown-using-css/ */

/*---------- end contact --------------------*/


/*---------- contact responsive -------------*/

@media screen and (max-width:980px) {

  #contactleft {
    width: 31.89655%;
    margin-right: auto;
  }
  
  #contactleft img {
    width: 96.4%;
    height: auto;
  }
  
  #contactform {
    width: 61.63793%;
  }
  
  .contactformleft {
    width: 46.6%;
    margin-right: 5%;
  }
  
  .contactformleft input {
    width: 100%;
  }
  
  .contactformright input {
    width: 46.6%;
  }
  
  .contactfull input,
  .contactfull,
  .contactfull textarea {
    width: 99.2%;
  }
  
  .dropdown dt a {
    width: 98.4%;
  }
  
  .dropdown dd ul {
    width: 100%;
  }

}

@media screen and (max-width:950px) {

  .contactformleft {
    width: 45%;
    margin-right: 6%;
  }
  
  .contactformright input {
    width: 45%;
  }
  
  .contactfull input,
  .contactfull,
  .contactfull textarea {
    width: 99.1%;
  }
  
  .dropdown dd ul {
    width: 99.9%;
  }
}

@media screen and (max-width:800px) {

  #contactleft {
    float: none;
    width: 100%;
  }
  
  #contacttext {
    width: 43%;
    float: left;
    min-height: 181px;
  }
  
  #contactleft img {
    width: 47%;
    float: right;
  }
  
  #contactform {
    width: 94.5%;
  }
  
  .contactformleft {
    width: 46.7%;
    margin-right: 5%;
  }
  
  .contactformright input {
    width: 46.7%;
  }
  
  .contactfull input,
  .contactfull,
  .contactfull textarea {
    width: 99.2%;
  }
}

@media screen and (max-width:768px) {
  
  #contacttext {
    min-height: 172px;
  }
}

@media screen and (max-width:600px) {

  
  #contacttext {
    width: 40%;
    float: left;
    min-height: 150px;
  }
  
  #contactleft img {
    width: 46.2%;
  }
  
  #contactform {
    width: 93%;
  }
  
  .contactformleft {
    width: 45.2%;
    margin-right: 7.3%;
  }
  
  .contactformright input {
    width: 45.2%;
  }
  
  .contactfull input,
  .contactfull,
  .contactfull textarea {
    width: 98.7%;
  }
  
  .dropdown dt a {
    width: 97.7%;
  }
  
  .dropdown dd ul {
    width: 99.4%;
  }
  
  .soliloquy-container .soliloquy-caption, 
  .soliloquy-container .soliloquy-controls-auto, 
  .soliloquy-container .soliloquy-pager {
    display: block !important;
  }
}

@media screen and (max-width:480px) {

  #contacttext {
    width: 90.8%;
    float: none;
    min-height: 10px;
  } 
  
  #contactleft img {
    width: 97.8%;
    margin-bottom: 5%;
    float: left;
  }
  
  #contactform {
    float: left;
    width: 90.7%;
  }
  
  .contactformleft,
  .contactformright {
    margin-right: 0;
    width: 96.2%;
  }
  
  .contactformright input {
    width: 100%;
  }
  
  .contactfull input, .contactfull, .contactfull textarea {
    width: 98%;
  }
  
  .dropdown dt {
    width: 98.2%;
  }
  
  .dropdown dd ul {
    width: 100%;
  }
  
  #contactsend {
    margin-right: 1.5%;
  }
  
  div.wpcf7-response-output {
    clear: both;
    margin-top: 4em !important;
  }

}

@media screen and (max-width:375px) {

  #contacttext {
    width: 87%;
  }
  
  #contactleft img {
    width: 96.4%;
  }
  
  #contactform {
    width: 85.8%;
  }
  
  #contactsend {
    margin-right: 0;
  }
  
}

@media screen and (max-width:320px) {

  #contacttext {
    width: 85.8%;
  }
}
/*-------- end contact responsive -----------*/


/*------------------footer-------------------*/

#footer {
  background-color: #414141;
  color: #e9c620;
  overflow: hidden;
  font-size: 0.875em; /*14px / 16px */
  min-height: 82px;
  letter-spacing: 1px;
}

#footertwo {
  background-color: #000000;
  color: #e9c620;
  font-size: 0.7em;
  min-height: 20px;
  padding-top: 6px;
  letter-spacing: 1px;
}

#footerinner,
#footertwoinner {
  max-width: 928px;
  margin: 0 auto;
  padding: 26px;
}

#footertwoinner {
  padding: 0 26px;
}

#footerleft {
  margin-left: 5px;
}

#footerleft p,
#footertwoleft p {
  margin: 0;
}

#footerleft a {
  color: #e9c620;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
}

#footerleft a:hover,
#footertworight a:hover  {
  color: #ded3b1;
}

#footerright,
#footertworight,
#headerright {
  float: right;
}

#footertworight,
#footertworight a {
  color: #666666;
  text-decoration: none;
}

#footer ul,
#headerright ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

#footer li,
#headerright li {
  float: left;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left;
  margin-right: 15px;
}

#footer li#instagram,
#headerright li#instagramhead {
  margin-right: 0;
}

#facebook a img {
  background: url(images/facebook_bottom.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#twitter a img {
  background: url(images/twitter_bottom.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#pinterest a img {
  background: url(images/pinterest_bottom.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#instagram a img {
  background: url(images/instagram_bottom.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#facebook a:hover img,
#facehead a:hover img {
  background: url(images/facebook_hover.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#twitter a:hover img,
#twitterhead a:hover img {
  background: url(images/twitter_hover.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#pinterest a:hover img,
#pinteresthead a:hover img {
  background: url(images/pinterest_hover.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#instagram a:hover img,
#instagramhead a:hover img {
  background: url(images/instagram_hover.png) top left no-repeat;
  width: 31px;
  height: 31px;
  border: none;
  background-size: 100%;
}

#preload {
  display: none;
}

/*--------------end footer-------------------*/

/*------------ footer responsive ------------*/

@media screen and (max-width:375px) {
  #footerright {
    float: none;
    width: 220px;
    margin: 0 auto;
  }
  
  #footer li {
    margin-bottom: 15px;
    margin-right: 20px;
  }
  
  #facebook a img,
  #twitter a img,
  #pinterest a img,
  #instagram a img,
  #facebook a:hover img,
  #twitter a:hover img,
  #pinterest a:hover img,
  #instagram a:hover img {
    width: 40px;
    height: 40px;
  }
    
  #footerleft {
    clear: both;
    border-top: 1px solid #e9c620;
    border-bottom: 1px solid #e9c620;
    margin-left: 0;
    padding: 10px 0;
  }
  
  #footerleft p,
  #footertwoleft p {
    text-align: center;
  }
  
  #footertworight {
    display: none;
  }
  
  #footertwo {
    background-color: #414141;
    padding-bottom: 10px;
  }
  
  #footerinner {
    padding: 4.5% 5%;
    padding-bottom: 10px;
  }  
  
}

/*---------- end footer responsive -----------*/


a.PIN_1395758593853_pin_it_button_20 {
  display: none !important;
}

a.weddinggallery .PIN_1395758593853_pin_it_button_20 {
  display: block !important;
}
