/* BE SURE TO INCLUDE THE CSS RESET FOUND IN THE DEMO PAGE'S CSS */
/*------------------------------------*\
	NAV
\*------------------------------------*/
#menu-main-menu {
	margin-bottom:1.77777778%;
	/* Clear floats */
	float:left;
	width:100%;
	position:relative;
	z-index:5;
}

@media screen and (min-width:801px) {
  ul#menu-main-menu {
    margin:0;
    text-align: center;
  }
ul#menu-main-menu li{
	position:relative;
}

ul#menu-main-menu li li {
  margin: 0;
}

#menu-main-menu li li a{
	display:block;
	height:14px;
	text-align:center;
}

#menu-main-menu li li a {
  padding: 9px 1px;
}

#menu-main-menu a:hover{
	color:#ffffff;
	text-decoration:none;
}

/*--- DROPDOWN ---*/
#menu-main-menu ul {
	background:#fff; /* Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). */
	background:rgba(255,255,255,0); /* But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... */
	list-style:none;
	position:absolute;
	left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	margin-top: 10px;
	margin-left: -15px;
}
#menu-main-menu ul li{
	float:none;
}

#menu-main-menu ul {
  border-bottom:1px solid #ded3b1;
}

#menu-main-menu ul a{
  border-top:1px solid #ded3b1;
	white-space:nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}
#menu-main-menu li:hover ul{ /* Display the dropdown on hover */
	left:0; /* Bring back on-screen when needed */
	padding-top:1px;
	font-size: 0.9em;
}
#menu-main-menu li ul li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
	text-decoration:none;
	color:#ffffff;
}
#menu-main-menu li:hover ul li a {
background:#414141;
color:#ded3b1;
min-width: 125px;
padding: 9px 10px 13px 27px;
text-align: left;
}

#menu-main-menu li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
	text-decoration:none;
}
#menu-main-menu li:hover ul li a:hover { /* Here we define the most explicit hover states--what happens when you hover each individual link. */
	background:#357775;
	color:#ded3b1;
}

a.menu-link,
li.weddings-responsive {
		    display: none !important;
		}

}
@media screen and (max-width:800px) {
    #menu-main-menu {
      margin-bottom: 0;
      margin-top: 0.4em;
    }

    a.menu-link {
  	    float: right;
		    display: block;
		    padding: 0 4.31% 0.6em 0.7em;
		    position: absolute;
		    right: 0;
		}
		
		    a.menu-link img {
		    width: 16%;
		    float: right;
		    padding-right: 1%;
		}
		
		.squish, .squish > ul ul {
			clear: both;
			-webkit-transition: all 0.3s ease-out;  
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
			text-transform: uppercase;
		}
		.js .squish {
			overflow: hidden;
			max-height: 0;
		}
		
		ul.sub-menu {
		  list-style-type: none;
		}
		
		.squish.active, ul.sub-menu.active {
			max-height: 55em;
		}
		
		.squish li {
		  background-color: #414141!important; 
		}
		
		.squish li a {
		  background-color: #414141!important;
			color: #e9c620;
			display: block;
			padding: 0.8em;
			position: relative;
			text-decoration: none;
			background: rgba(0,0,0,0.1);
			border-bottom: 1px solid #e9c620;
			text-align: center;
			margin: 0 2em;
			letter-spacing: 1px;
		}
		
		.squish li.last a {
		  border-bottom: none;
		}
		
		.squish li a:hover {
		  color: #DED3B1;
		}
		
		li.weddings-top {
		  display: none;
		}
}

@media screen and (max-width:360px) {

    a.menu-link {
		    padding-right: 5%;
		}
		
}