/*
CSS Name: Default Styles
Description: NextGEN Default Gallery Stylesheet
Author: Photocrati Media
Version: 2.12

This stylesheet is provided to allow users the ability of overriding the default styles for all display types
*/

.ngg-gallery-thumbnail img {
    background-color: none;
    border: none;
    margin: 0 10px 20px 10px;
    padding: 0;
}

.ngg-galleryoverview {
   margin-top: 0;
}

#TB_window img#TB_Image {
  border-width: 0;
}

.ngg-gallery-thumbnail span {
  display: none;
}


@media screen and (max-width:980px) {
  .ngg-gallery-thumbnail img {
  margin:0;
 }
}

#shDisplay div#shTitle {
 margin-top:7px;
}

#shDisplay div#shCount {
 font-family: "futura-pt", Arial, Verdana, Helvetica, sans-serif !important;
font-size: 13px;
color: #DED3B1;
}

#shDisplay div#shTitle a {
color: #DED3B1;
}

.nextgen_pro_blog_gallery {
 text-align: left;
}